/* Partie à propos */

.about {
  background-color: $blue;
  background-image: url("/assets/image/Grain.png");
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (max-width: 425px) {
    padding: 7% 7%;
  }

  @media screen and (max-width: 1000px) {
    position: relative;
    position: -webkit-relative;
    height: auto;
  }


  .container {
    padding: 4% 7%;
    position: relative;

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 120%;
    }

    a {
      font-weight: 600;
      display: inline-block;
      position: relative;
      line-height: normal;
    }


    a:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }


    .text-img-container {
      max-width: 600px;
      margin-top: 4rem;
      display: flex;
      @media screen and (max-width: 960px) {
        flex-direction: column;
      }
      .about-text {
        font-size: 20px;
        font-weight: 300;
        line-height: 120%;
      }


      .img {
        position: absolute;
        left: 70%;
        margin-bottom: 90%;
        @media screen and (max-width: 960px) {
          position: relative;
          left: auto;
        }
        @media screen and (max-width: 960px) {
          margin-top: 10%;
        }
        @media screen and (max-width: 425px) {
          transform: translateX(10%);
        }

        img {
          position: absolute;
          max-width: 250px;
          @media screen and (max-width: 425px) {
            max-width: 200px;
          }
          rotate: 10deg;
        }

        .square {
          position: absolute;
          border: 2px solid $white;
          width: 250px;
          height: 250px;
          @media screen and (max-width: 425px) {
            width: 200px;
            height: 200px;
          }
          rotate: -2deg;

        }

      }

      .icon-container {
        margin: 5% 0;
        display: flex;
        justify-content: center;

        a {
          margin: 0 1%;

          img {
            max-width: 40px;
          }
        }
      }
    }

  }

  footer {

    .line {
      width: 100%;
      height: 2px;
      background-color: $white;
      @media screen and (max-width: 425px) {
        display: none;
      }
    }

    .legals {
      padding: 2% 0 2% 7%;
      font-size: 18px;
    }
  }


}