//Définition du theme

//Typographie
$font-stack: 'Thunder';

//Couleur
$blue: #002FA7;
$white: #F9F9F9;
$orange: #DA7E10;
$green: #007744;

// Normes portfolio
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: $font-stack, Arial, Helvetica, sans-serif;
    color: $white;
}

html, body{
    @media screen and (max-width: 425px) {
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    letter-spacing: 0.06rem;
}

h1 {
    font-size: 800%;
    font-weight: 900;
    letter-spacing: 0.5rem;

    @media screen and (max-width: 600px) {
        font-weight: 800;
        letter-spacing: 0.3rem;
    }
    
    @media screen and (max-width: 675px) {
        font-size: 70px;
    }
    
}

h2 {
    font-size: 300%;
    font-weight: 600;
    @media screen and (max-width: 425px) {
        font-size: 250%;
    }
}

h3 {
    font-size: 130%;
    font-style: italic;
    font-weight: 300;
    margin-top: 0.5rem;
    @media screen and (max-width: 425px) {
        font-size: 120%;
    }
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

body {

    background-color: $blue;
    background-image: url(/assets/image/Grain.png);

}