/* Partie accueil */

.home{
    background-color: $blue;
    background-image: url("/assets/image/Grain.png");
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;

        .container{

            padding: 7rem 7rem;
            position: relative;

            li{
              margin-bottom: 3%;
            }

            .function{
                font-size: 128px;
                font-weight: bold;
            }

            .adjective{
                font-size: 128px;
                font-weight: bold;
                
                span{
                  color: rgba(0, 0, 0, 0);   
                }
            }

            .circle{
                position: relative;
                justify-content: center;
                align-items: center;

              }
              
              .scroll-text{
                font-size: 12px;
                font-weight: 500;
                position: absolute;
                top: 40px;
                left: 95%;
                // animation: rotateText 10s linear infinite;
                @keyframes rotateText 
            {
             
                        0% 
                        {
                            transform: rotate(360deg);;
                        }
                        100%
                        {
                            transform: rotate(0deg);;
                        }
                    
                }

                span{
                    position: absolute;
                    transform-origin:0 50px;
                }
            }
        }
}