/* Partie accueil */

.home{
    background-color: $blue;
    background-image: url("/assets/image/Grain.png");
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
        .container{

            padding: 8% 8%;
            position: relative;

            li{
              margin-bottom: 3%;
            }

            .function{
                font-size: 800%;
                font-weight: bold;
            }

            .adjective{
                font-size: 800%;                
                font-weight: bold;
                
                span{
                  color: rgba(0, 0, 0, 0);   
                }
            }

            .circle{
                position: relative;
                width: 110px;
                height: 110px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

            }
              
              .scroll-text{
                width: 100%;
                height: 100%;
                align-items: center;
                font-size: 16px;
                line-height: 2px;
                font-weight: 500;
                position: absolute;
                top: 0px;
                left: 980%;
                animation: rotateText 15s linear infinite;
                @keyframes rotateText 
            {
             
                        0% 
                        {
                            transform: rotate(360deg);;
                        }
                        100%
                        {
                            transform: rotate(0deg);;
                        }
                    
                }

                span{
                    position: absolute;
                    left: 50%;
                    font-size: 1.2rem;
                    transform-origin: 0 55px;
                }
            }
        }
}