@charset "UTF-8";
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-LC.otf") format("opentype"), url("/assets/font/Thunder-LC.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-LCItalic.otf") format("opentype"), url("/assets/font/Thunder-LCItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-BoldLC.otf") format("opentype"), url("/assets/font/Thunder-BoldLC.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-BoldLCItalic.otf") format("opentype"), url("/assets/font/Thunder-BoldLCItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-BlackLC.otf") format("opentype"), url("/assets/font/Thunder-BlackLC.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-SemiBoldLC.otf") format("opentype"), url("/assets/font/Thunder-SemiBoldLC.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-MediumLC.otf") format("opentype"), url("/assets/font/Thunder-MediumLC.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-MediumLCItalic.otf") format("opentype"), url("/assets/font/Thunder-MediumLCItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-ExtraLightLC.otf") format("opentype"), url("/assets/font/Thunder-ExtraLightLC.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-LCItalic.otf") format("opentype"), url("/assets/font/Thunder-LCItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-LightLCItalic.otf") format("opentype"), url("/assets/font/Thunder-LightLCItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("/assets/font/Thunder-LightLC.otf") format("opentype"), url("/assets/font/Thunder-LightLC.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Thunder";
  color: #F9F9F9;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  letter-spacing: 0.06rem;
}

h1 {
  font-size: 800%;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
@media screen and (max-width: 600px) {
  h1 {
    font-weight: 800;
    letter-spacing: 0.3rem;
  }
}

h2 {
  font-size: 300%;
  font-weight: 600;
}

h3 {
  font-size: 130%;
  font-style: italic;
  font-weight: 300;
  margin-top: 0.5rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

body {
  background-color: #002FA7;
  background-image: url(/assets/image/Grain.png);
}

/* Partie accueil */
.home {
  background-color: #002FA7;
  background-image: url("/assets/image/Grain.png");
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
.home .container {
  padding: 8% 8%;
  position: relative;
}
.home .container li {
  margin-bottom: 3%;
}
.home .container .function {
  font-size: 800%;
  font-weight: bold;
}
.home .container .adjective {
  font-size: 800%;
  font-weight: bold;
}
.home .container .adjective span {
  color: rgba(0, 0, 0, 0);
}
.home .container .circle {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container .scroll-text {
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 16px;
  line-height: 2px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  left: 980%;
  animation: rotateText 15s linear infinite;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.home .container .scroll-text span {
  position: absolute;
  left: 50%;
  font-size: 1.2rem;
  transform-origin: 0 55px;
}

/* Partie projet */
.projects {
  background-color: #DA7E10;
  background-image: url("/assets/image/Grain5.png");
  height: 115vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
.projects .container {
  padding: 3rem 7rem;
  position: relative;
}
.projects .container .container_item {
  margin-top: 2rem;
}
.projects .container .container_item .item {
  width: 550px;
}
.projects .container .container_item .item .title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
  line-height: normal;
}
.projects .container .container_item .item .title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F9F9F9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.projects .container .container_item .item .title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.projects .container .container_item .item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}
.projects .container .container_item .item p .bold {
  font-weight: bold;
}
.projects .container .container_item .item .image {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
  max-width: 90px;
}
.projects .container .container_item .item .image img {
  max-width: 40px;
}
.projects .container .container_item .item .image a {
  display: inline-block;
  position: relative;
  line-height: normal;
}
.projects .container .container_item .item .image a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F9F9F9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.projects .container .container_item .item .image a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.projects .container .container_item .item .image p {
  font-weight: 600;
}
.projects .container .container_item .item_right {
  margin: -5% 0 -5% 60%;
}

/* Partie compétences */
.skills {
  background-color: #007744;
  background-image: url("/assets/image/Grain5.png");
  height: 115vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
}
.skills .container {
  padding: 3rem 7rem;
  position: relative;
}
.skills .container .slideshow-container {
  position: relative;
  margin-top: 4rem;
}
.skills .container .slideshow-container h4 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20%;
}
.skills .container .slideshow-container .slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 350px;
}
.skills .container .slideshow-container .slide li {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.skills .container .slideshow-container .slide li img {
  width: 40px;
  margin-right: 1rem;
}
.skills .container .slideshow-container .slide li p {
  font-size: 20px;
  font-weight: 400;
}
.skills .container .slideshow-container .slide .language {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
}
.skills .container .slideshow-container .slide .language a {
  display: inline-block;
  position: relative;
  line-height: normal;
}
.skills .container .slideshow-container .slide .language a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F9F9F9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.skills .container .slideshow-container .slide .language a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.skills .container .slideshow-container .slide .language td {
  padding-top: 5rem;
}
.skills .container .slideshow-container .slide .language .light-font {
  font-weight: 300;
}
.skills .container .slideshow-container .prev, .skills .container .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin: 2rem 7rem;
  padding: 2rem 2rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  user-select: none;
}
.skills .container .slideshow-container .next {
  right: 0;
}
.skills .container .slideshow-container .prev:hover, .skills .container .slideshow-container .next:hover {
  color: #848484;
}
.skills .container .text {
  color: #f2f2f2;
  font-size: 26px;
  position: absolute;
  bottom: -20%;
  width: 100%;
  text-align: center;
}
.skills .container .indicator {
  cursor: pointer;
  height: 2px;
  width: 25px;
  margin: 0 5px;
  background-color: rgba(249, 249, 249, 0.3176470588);
  display: inline-block;
  transition: all 0.6s linear;
}
.skills .container .active, .skills .container .indicator:hover {
  background-color: #F9F9F9;
  height: 6px;
  width: 25px;
}
.skills .container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Partie à propos */
.about {
  background-color: #002FA7;
  background-image: url("/assets/image/Grain.png");
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 4;
}
.about .container {
  padding: 5rem 7rem;
  position: relative;
}
.about .container p {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
}
.about .container a {
  font-weight: 600;
  display: inline-block;
  position: relative;
  line-height: normal;
}
.about .container a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F9F9F9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.about .container a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.about .container .text-img-container {
  max-width: 600px;
  margin-top: 4rem;
  display: flex;
}
.about .container .text-img-container .about-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
}
.about .container .text-img-container .img {
  position: absolute;
  left: 70%;
}
.about .container .text-img-container .img img {
  position: absolute;
  max-width: 250px;
  rotate: 10deg;
}
.about .container .text-img-container .img .square {
  position: absolute;
  border: 2px solid #F9F9F9;
  width: 250px;
  height: 250px;
  rotate: -2deg;
}
.about .container .text-img-container .icon-container {
  margin: 5% 0;
  display: flex;
  justify-content: center;
}
.about .container .text-img-container .icon-container a {
  margin: 0 1%;
}
.about .container .text-img-container .icon-container a img {
  max-width: 40px;
}
.about footer .line {
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
}
.about footer .legals {
  padding-left: 7rem;
  padding-top: 2rem;
  font-size: 18px;
}

/*# sourceMappingURL=index.css.map */
