/* Partie projet */

.projects {
    background-color: $orange;
    background-image: url("/assets/image/Grain5.png");
    height: 115vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;

    @media screen and (max-width: 1000px) {
        position: relative;
        position: -webkit-relative;
        height: auto;
    }

    @media screen and (max-height: 700px) {
        position: relative;
        position: -webkit-relative;
        height: auto;
    }

    .container {

        padding: 3% 7%;
        
        @media screen and (min-width: 1450px) {
            padding: 2.5% 7%;
        }
        @media screen and (max-width: 425px) {
            padding: 9% 7%;
        }

        position: relative;

        .container_item {

            margin-top: 2.5%;
            @media screen and (min-width: 1450px) {
                margin-top: 2%;
            }
            @media screen and (max-width: 425px) {
                margin-top: 10%;
            }
            
            .item {
                width: 45%;
                @media screen and (max-width: 760px) {
                    width: auto;
                }
                // @media screen and (max-width: 425px) {
                //     margin-bottom: 10%;
                // }
                
                
                .title {
                    font-weight: 400;
                    font-size: 250%;
                    margin-bottom: 2%;
                    display: inline-block;
                    position: relative;
                    line-height: normal;
                    @media screen and (max-width: 425px) {
                        font-size: 210%;
                    }

                }

                .title:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 4%;
                    bottom: 0;
                    left: 0;
                    background-color: $white;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                .title:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }

                p {
                    font-size: 125%;
                    font-weight: 400;
                    line-height: 125%;
                    @media screen and (max-width: 425px) {
                        font-size: 120%;
                    }

                    .bold {
                        font-weight: bold;
                    }

                }

                .image {
                    display: flex;
                    align-items: center;
                    margin-top: 6%;
                    justify-content: space-between;
                    max-width: 16%;
                    @media screen and (max-width: 425px) {
                        margin: 5% auto;
                        max-width: 30%;
                        }


                    img {
                        max-width: 40px;
                    }

                    a {
                        display: inline-block;
                        position: relative;
                        line-height: normal;
                    }

                    a:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 4%;
                        bottom: 0;
                        left: 0;
                        background-color: $white;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }

                    a:hover:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }

                }

            }

            .item_right {
                margin: -5% 0 -5% 60%;

                @media screen and (min-width: 1450px) {
                margin: -7% 0 0 60%;
                }
                @media screen and (max-width: 760px) {
                margin: 15% 0;
                }
                

            }
        }
    }
}