/* Partie compétences */

.skills {
  background-color: $green;
  background-image: url("/assets/image/Grain5.png");
  height: 115vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;

  @media screen and (max-width: 1000px) {
    position: relative;
    position: -webkit-relative;
    height: auto;
  }

  @media screen and (max-width: 425px) {
    padding: 7% 7%;
}

  .container {

    padding: 4% 7%;
    @media screen and (max-width: 425px) {
      padding: 0;
  }
    position: relative;

    .slideshow-container {
      position: relative;
      margin-top: 4rem;

      h4 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 20%;

        @media screen and (max-width: 425px) {
          margin-bottom: 4%;
        }
      }

      .slide {
        flex-direction: row;
        justify-content: space-between;
        height: 350px;

        @media screen and (max-width: 425px) {
          flex-direction: column;
          height: auto;
        }

        .tools {
          @media screen and (max-width: 425px) {
            margin-bottom: 10%;
          }

        }


        li {
          display: flex;
          align-items: center;
          margin-top: 1.5rem;

          img {
            width: 40px;
            margin-right: 1rem;
          }

          p {
            font-size: 20px;
            font-weight: 400;
          }

        }

        table{
          @media screen and (max-width: 425px) {
            display: none;
          }
        }

        .list_languages{
          @media screen and (min-width: 425px) {
            display: none;
          }
        }

        .language {
          font-size: 22px;
          font-weight: 400;
          width: 100%;

          a {
            display: inline-block;
            position: relative;
            line-height: normal;
          }

          a:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }

          a:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          td {
            padding-top: 5rem;
          }

          .light-font {
            font-weight: 300;
          }
        }
      }

      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        margin: 2rem 7rem;
        padding: 2rem 2rem;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.2s ease;
        user-select: none;

        @media screen and (max-width: 805px) {
          margin: 0 0;
          padding: 1rem 1rem;
        }
      }

      .next {
        right: 0;
      }

      .prev:hover,
      .next:hover {
        color: #848484;
      }
    }

    .text {
      color: #f2f2f2;
      font-size: 26px;
      position: absolute;
      bottom: -20%;
      width: 100%;
      text-align: center;
      
      @media screen and (max-width: 1000px) {
        bottom: -10%;
      }
      @media screen and (max-width: 425px) {
        bottom: -20%;
        margin-top: 5%;
        position: relative;
      }

    }

    .indicator {
      cursor: pointer;
      height: 2px;
      width: 25px;
      margin: 0 5px;
      background-color: #f9f9f951;
      display: inline-block;
      transition: all 0.2s linear;
    }

    .active,
    .indicator:hover {
      background-color: $white;
      height: 6px;
      width: 25px;

    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }
  }
}